#include "Pods/Target Support Files/Pods-available_pods-Cabjak/Pods-available_pods-Cabjak.release.xcconfig"
PROJECT_APPLE_ID = 6749265440
PROJECT_BUNDLE_ID = com.cabjak.OrderApp
PROJECT_APP_VERSION = 1.6.5
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Cabjak
PROJECT_GOOGLE_CLIENT_ID = 23043557031-80fd6p4jenb98c5uer30r5v2p85mj2q4.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.23043557031-80fd6p4jenb98c5uer30r5v2p85mj2q4
PROJECT_FACEBOOK_ID = 194496546538542
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = CabjakInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
